@inject Bivium.Services.IFileSystemService FileSystemService

<div class="status-bar">
    <span class="status-bar-left">@this._selectionInfo</span>
    <span class="status-bar-center">@this._progressText</span>
    <span class="status-bar-right">@this._diskInfo</span>
</div>
