.upload-drop-zone {
    min-height: 7lh;
    display: grid;
    place-content: center;
    text-align: center;
}

.bivium-radzen-upload-hint {
    visibility: hidden;
}

.upload-drop-active .bivium-radzen-upload-hint,
.upload-drop-disabled .bivium-radzen-upload-hint {
    visibility: visible;
}

.upload-current-item {
    max-width: 86ch;
    margin-top: 0.5lh;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
