@page "/Error"
@using System.Diagnostics

<PageTitle>Error</PageTitle>

<h1>Error.</h1>
<h2>An error occurred while processing your request.</h2>

@if (this.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@this.RequestId</code>
    </p>
}

@code{
    [CascadingParameter]
    private HttpContext HttpContext { get; set; }

    private string RequestId { get; set; } = "";
    private bool ShowRequestId => !string.IsNullOrEmpty(this.RequestId);

    protected override void OnInitialized()
    {
        this.RequestId = Activity.Current?.Id ?? this.HttpContext?.TraceIdentifier ?? "";
    }
}
